body {
    background-color: #197891;
    color: #eaeaea;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

h2 {
    border-bottom: 0.3125rem solid #54baed;
    width: fit-content;
    padding-bottom: 0.1em;
}

a {
    color: #a3ff85;
}

code:not([class]) {
    background-color: #4e919d;
    padding: 2px;
    border-radius: 7px;
    white-space: nowrap;
}

img, figure img a {
    border: 3px solid #54baed !important;
    border-radius: 7px;
}

blockquote {
    border-color: #a3ff85;
    font-size: 1.2rem;
}

html.dark a, a:active, a:hover {
    color: #85fcff !important;
    border-bottom: 2px solid #a2c4ff;
}

ul.tag-list li {
    display: inline;
}

.highlight {
    background-color: unset;
}

.highlight pre {
    background-color: #123745 !important;
    box-shadow: 5px 5px 5px rgb(68 68 68 / 60%);
    border-radius: 7px;
}

ul.tag-list li:first-child {
    margin-right: 5px;
}

.site-title a {
    color: #fff;
}

.footer a {
    color: #bfbfbf;
}

.post .tags a {
    border: 1px solid #54baed;
    color: #54baed;
    background-color: #0d4c4e;
    margin: 0 5px 0 0;
}

.river {
    font-size: 0.75em;
    color: #9ef6e8;
    font-style: italic;
}

.river span {
    color: #d1d1d1;
}

.post-header h1.title {
    margin: -10px 0 -6px 0;
}

.post .post-header {
    margin-bottom: 0px;
}

.post .title.small {
    margin: 0;
}

li.post .post-header {
    margin-bottom: 30px;
}

.header .site-description p {
    margin: -15px 0px 10px 0;
}

.header .avatar {
    float: left;
    margin: 25px 20px 0 0;
}

.avatar a {
    font-size: 4em;
}

figcaption p {
    margin: -10px;
    font-size: 0.9em;
    font-style: italic;
}

h1 .temperature {
    font-size: 0.35em;
    color: #b6b7da;
}

h1 .timestamp {
    font-size: 0.8em;
}

table {
    border: 2px solid #54baed;
    border-radius: 7px;
    border-collapse: separate !important;
}

table th {
    background-color: #0d4c4e;
}

table td {
    border-bottom: 1px solid #5d90a9;
}

table tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.1);
}

table tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.2);
}

.image-gallery {
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid #54baed;
    border-radius: 7px;
    padding: 0 8px;
}

.image-gallery h3 {
    margin: 10px 0 0 0;
}

.image-gallery p {
    margin: 0;
}

.image-gallery ul {
    overflow: auto; 
    margin-left: -1%!important;
    padding-left: 0;
    margin: 0;
}

.image-gallery li {
    float: left; 
    display: block; 
    margin: 0 0 0 1% !important; 
    width: 19%;
}

.image-gallery li a {
    text-align: center;
}
.image-gallery li a span {
    display: block; 
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap; 
    padding: 3px 0;
    margin-top: -10px;
}
.image-gallery li a img {
    width: 100%; 
    display: block;
    box-shadow: 5px 5px 5px rgb(68 68 68 / 60%);
    border: 0 !important;
}

.post ul {
    list-style-position: outside;
    padding-left: 40px;
}

.post ul li {
    margin-bottom: 0;
}

.post .image-gallery ul {
    padding-left: 0;
}