body {
    background-color: #197891;
    color: #eaeaea;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

a {
    color: #a3ff85;
}

img {
    border: 3px solid #54baed;
}

html.dark a, a:active, a:hover {
    color: #85fcff !important;
    border-bottom: 2px solid #a2c4ff;
}

.site-title a {
    color: #fff;
}

.footer a {
    color: #bfbfbf;
}

.river {
    font-size: 0.75em;
    color: #9ef6e8;
    font-style: italic;
}

.post-header h1.title {
    margin: -10px 0 -6px 0;
}

.post .post-header {
    margin-bottom: 0px;
}

.post .title.small {
    margin: 0;
}

li.post .post-header {
    margin-bottom: 30px;
}

.header .avatar {
    float: left;
    margin: 25px 20px 0 0;
}

.avatar a {
    font-size: 4em;
}

figcaption p {
    margin: -10px;
    font-size: 0.9em;
    font-style: italic;
}